### <font color='red'>1. What exactly is []?</font>

In [ ]:
# This is an empty list
a=[]
type(a)

list

### <font color='red'>2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)</font>

In [ ]:
# By using insert method

a=[2,4,6,8,10]
a.insert(2,"hello")
print(a)

[2, 4, 'hello', 6, 8, 10]

## Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

### <font color='red'>3. What is the value of spam[int(int('3' * 2) / 11)]?</font>

In [ ]:
# "3"*2="33"
# int("33")/11=3
# spam[int(3)]="d"
spam=["a","b","c","d"]
spam[int(int("3"*2)/11)]

'd'

### <font color='red'>4. What is the value of spam[-1]?</font>

In [ ]:
# spam[-1]="d"
spam[-1]

'd'

### <font color='red'>5. What is the value of spam[:2]?</font>

In [ ]:
#spam[:2] = index(0,1)=["a","b"]
spam[:2]

['a', 'b']

## Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

### <font color='red'>6. What is the value of bacon.index('cat')?</font>

In [ ]:
bacon=[3.14,"cat",11,"cat",True]
# bacon.index("cat") its shows index of 1st "cat" element which is 1
bacon.index("cat")

1

### <font color='red'>7. How does bacon.append(99) change the look of the list value in bacon?</font>

In [ ]:
# Add element at end of the list  [3.14,"cat",11,"cat",True,99]

bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

### <font color='red'>8. How does bacon.remove('cat') change the look of the list in bacon?</font>

In [ ]:
# This will remove the 1st "cat" element occured in the list
bacon.remove('cat')
bacon

[3.14, 11, 'cat', True, 99]

### <font color='red'>9. What are the list concatenation and list replication operators?</font>

In [ ]:
# list concatenation : (+) use for list concatenation we can add elements of 1 list to the end of another
a=[1,4,5]
b=[2,5,2]
print(a+b)
# list replication : (*) it add list elements times we have given at the end of original list
print(a*3)

[1, 4, 5, 2, 5, 2]
[1, 4, 5, 1, 4, 5, 1, 4, 5]

### <font color='red'>10. What is difference between the list methods append() and insert()?</font>

In [ ]:
# append() it is method in which we add element at the end of the list only
# Only one argument is required (element)
a=[100,10,1000]
a.append(1)
print("a=",a)
# insert() it is method in which we can specify location in the list where we can all elements
# 2 arguments are required (location/index,element)
b=[100,10,1000]
b.insert(1,1)
print("b=",b)

a= [100, 10, 1000, 1]
b= [100, 1, 10, 1000]

### <font color='red'>11. What are the two methods for removing items from a list?</font>

In [ ]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
# remove()
# pop()

### <font color='red'>12. Describe how list values and string values are identical.</font>

In [ ]:
# both are sequence so they both have index
a="mohan"
b=["m","o","h","a","n"]
a[-1]

'n'

In [ ]:
b[-1]

'n'

### <font color='red'>13. What's the difference between tuples and lists?</font>

In [ ]:
# list and tuples both are sequence but list are mutable but tuples are immutable
# Means list can be changed after they created but tuples can't be changed when they are created

### <font color='red'>14. How do you type a tuple value that only contains the integer 42?</font>

In [ ]:
a=tuple([42])
a

(42,)

In [ ]:
b=(42,)
b

(42,)

### <font color='red'>15. How do you get a list value's tuple form? How do you get a tuple value's list form?</font>

In [ ]:
# we can get list value in tuple form using function :    tuple()
a=[2,35,234,4]
tuple(a)

(2, 35, 234, 4)

In [ ]:
# we can get tuple value in list form using fuction :    list() 
b=(33,352,524)
list(b)

[33, 352, 524]

### <font color='red'>16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?</font>

In [ ]:
# It contain reference to the list

### <font color='red'>17. How do you distinguish between copy.copy() and copy.deepcopy()?</font>

In [14]:
# .copy() create new object copy but if we change copied object will change original object
# copy().copy() is shallow copy

In [13]:
# .deepcopy() create new object copy but if we change copied object it won't change original object
# copy.deepcopy() is deep copy